<footer>
    <div class="row">
        <div class="col-md-8">
            <div class="visible-md visible-lg hashtag">
                #entraenel<strong>parlamento</strong>
            </div>
            <div class="visible-xs visible-sm">
                #entraenel<strong>parlamento</strong>
            </div>
            <ul class="links">
                <li><a href="#">Aviso legal</a>
                <li><a href="#">Política de Cookies</a>
                <li class="last"><a href="http://sentido-comun.com/">Asociación Sentido Común</a>
            </ul>

            <ul class="nolinks">
                <li>Desarrollo Web: <a href="http://wadobo.com">Wadobo</a></li>
                <li>Asesoramiento Legal: <a href="http://www.circulojuridico.eu/">Círculo Jurídico</a></li>
                <li class="contact">Contacta: <a href="mailto:info@escaño110.org">info@escaño110.org</a></li>
            </ul>

            <div class="row devels">
                <div class="col-xs-12">
                    <a href="http://sentido-comun.com/">
                        <img src="{{ url_for('static', filename='img/logos/sentidocomun.jpg') }}" alt="sentido común"/>
                    </a>
                    <a href="http://wadobo.com/">
                        <img src="{{ url_for('static', filename='img/logos/wadobo.png') }}" alt="wadobo"/>
                    </a>
                    <a href="http://circulojuridico.eu/">
                        <img src="{{ url_for('static', filename='img/logos/circulojuridico.jpg') }}" alt="círculo jurídico"/>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                Apoyan:
                    <a href="http://unia.es/">
                        <img src="{{ url_for('static', filename='img/logos/unia.jpg') }}" alt="unia"/>
                    </a>
                    <a href="http://goteo.org/">
                        <img src="{{ url_for('static', filename='img/logos/goteo.png') }}" alt="goteo"/>
                    </a>
                </div>
                <div class="col-xs-6">
                Cofinancian:
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/logos/cofinancian.jpg') }}" alt="cofinancian"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 tweets">
            <a class="twitter-timeline"  href="https://twitter.com/sentidocomunweb"  data-widget-id="449522586146193409">Tweets by @sentidocomunweb</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</footer>
