{% extends "base.html" %}

{% block title %}{% trans %}Index{% endtrans %}{% endblock %}
{% block css %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row buttons">
        <div class="col-sm-4">
            <a href="#">
                <img src="{{ url_for('static', filename='img/ilpB.png') }}" alt="Presenta tu ILP"/>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{{ url_for('static', filename='img/preguntaB.png') }}" alt="Lanza tu pregunta"/>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{{ url_for('static', filename='img/propuestaB.png') }}" alt="Haz tu propuesta"/>
            </a>
        </div>
    </div>

    <div class="row news">
        <div class="col-sm-4">
            <div class="new">
                <h2>Título</h2>
                <h3>Subtítulo</h3>
                <img src="{{ url_for('static', filename='img/testimg.jpg') }}" alt="img"/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla vehicula viverra. Quisque consequat ligula lectus, ut consequat ligula porta vitae. Sed eget odio vitae massa eleifend ultricies. Fusce nec tempor orci. Integer convallis ante quis nibh ultrices aliquam. Pellentesque nec ante at nisl dignissim venenatis eu non sem. Sed interdum volutpat porta.
                </p>
                <a href="" class="btn btn-default">Leer más <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="new">
                <h2>Título</h2>
                <h3>Subtítulo</h3>
                <img src="{{ url_for('static', filename='img/testimg.jpg') }}" alt="img"/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla vehicula viverra. Quisque consequat ligula lectus, ut consequat ligula porta vitae. Sed eget odio vitae massa eleifend ultricies. Fusce nec tempor orci. Integer convallis ante quis nibh ultrices aliquam. Pellentesque nec ante at nisl dignissim venenatis eu non sem. Sed interdum volutpat porta.
                </p>
                <a href="" class="btn btn-default">Leer más <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="new">
                <h2>Título</h2>
                <h3>Subtítulo</h3>
                <img src="{{ url_for('static', filename='img/testimg.jpg') }}" alt="img"/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla vehicula viverra. Quisque consequat ligula lectus, ut consequat ligula porta vitae. Sed eget odio vitae massa eleifend ultricies. Fusce nec tempor orci. Integer convallis ante quis nibh ultrices aliquam. Pellentesque nec ante at nisl dignissim venenatis eu non sem. Sed interdum volutpat porta.
                </p>
                <a href="" class="btn btn-default">Leer más <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div>
{% endblock %}
