    <!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>Escaño 110</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/themes/current/css/base.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="logo">
              <a href="#">
                <img src="/static/themes/current/img/e110_logo_small.png"
                  class="img-responsive" alt="escaño110.org logo" />
              </a>
            </li>
            <li><a href="#explore">Explorar</a></li>
            <li><a href="#how-it-works">Cómo funciona</a></li>
            <li><a class="divider-right" href="#make-proposal">Proponer</a></li>
          </ul>
          <form class="navbar-form navbar-left search-form" role="search">
              <div class="search-icon-wrapper">
                <span class="glyphicon glyphicon-search"></span>
              </div>
              <input type="text" class="form-control" placeholder="Buscar.." />
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#enter">Entrar</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <div id="carousel-index" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-index" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-index" data-slide-to="1"></li>
          <li data-target="#carousel-index" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/static/themes/current/img/carousel/stop_desahucios_grad.jpg" alt="Un mundo mejor: stop desahucios">
            <div class="carousel-caption">
              <h1>Un mundo mejor</h1>
              <p>La PAH consiguió llevar su Iniciativa Legislativa al Congreso. Haz tu propuesta legislativa en el Parlamento Andaluz.</p>
              <a href="#make-proposal" class="btn btn-success btn-lg">Haz tu propuesta</a>
            </div>
          </div>
          <div class="item">
            <img src="/static/themes/current/img/carousel/causa_justa.jpg" alt="Apoya una causa justa">
            <div class="carousel-caption">
              <h1>Apoya una causa justa</h1>
              <p>Bucea en un mundo de propuestas inspiradoras. Marca la diferencia con tu apoyo a una causa justa.</p>
              <a href="#explore" class="btn btn-success btn-lg">Encuentra tu causa</a>
            </div>
          </div>
          <div class="item">
            <img src="/static/themes/current/img/carousel/parliament_microphone_grad.jpg" alt="Micrófono parlamento europeo">
            <div class="carousel-caption">
              <h1>Empodérate</h1>
              <p>Coge el micrófono del escaño 110 porque es tuyo. Manda un mensaje directo a un diputado.</p>
              <a href="#write-letter" class="btn btn-success btn-lg">Coge el micro</a>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-index" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-index" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

      <div class="highlight-background">
        <div class="container">
          <div class="row staff-picks">
            <div class="col-sm-9 staff-pick">
              <a href="#explore" class="view-all">Ver otras preguntas a senadores</a>
              <h3>Categoría: Preguntas a senadores</h3>
              <div class="row-fluid">
                <div class="col-xs-6">
                  <img src="/static/themes/current/img/typewriter.jpg" class="img-responsive img-all" alt="Typewriter" />
                </div>
                <div class="col-xs-6 item-data">
                  <div class="main-wrapper">
                    <h3><a href="#letter/susana-diaz">Carta a Susana Díaz</a></h3>
                    <h4>por Ecologístas en Acción</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris</p>
                    <p>consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.</p>
                  </div>

                  <div class="item-stats">
                    <div class="up-progress"><strong>209</strong> apoyos</div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100%</span>
                      </div>
                    </div>
                    <div class="down-progress">100%</div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-3 project-categories">
              <div class="clearfix"></div>
              <ul>
                <li><a href="#proposals">Propuestas</a></li>
                <li class="selected"><a href="#ilps">Iniciativas legislativas populares</a></li>
                <li><a href="#letters">Preguntas a senadores</a></li>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="highlight-background highlight-background-white">
        <div class="container">
          <div class="row highlighted-title">
            <div class="col-md-6">
              <h3>Destacado</h3>
            </div>
            <div class="col-md-6">
              <a href="#explore" class="view-all">Ver todo</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <a class="highlight-right-next" href="#carousel-index" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <div class="highlighted-items row-fluid">
              <div class="col-md-3 col-xs-6">
                <span>ILP</span>
                <a href="#ilp/apes" class="highlighted-item">
                  <img class="img-responsive img-all" src="/static/themes/current/img/carousel/ape_small.jpg" alt="Big ape" />
                  <div class="content-wrapper">
                    <h3>Derechos de los grandes simios</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>

                    <div class="item-stats">
                      <div class="up-progress"><strong>15,216</strong> firmas</div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40%</span>
                        </div>
                      </div>
                    <div class="down-progress">25,12%</div>
                   <div class="time-left">7 días restantes</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-3 col-xs-6">
                <span>ILP</span>
                <a href="#ilp/basic-income" class="highlighted-item">
                  <img class="img-responsive img-all" src="/static/themes/current/img/carousel/basic_income_small.jpg" alt="Big ape" />
                  <div class="content-wrapper">
                    <h3>Renta Básica Universal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>

                    <div class="item-stats">
                      <div class="up-progress"><strong>9,278</strong> firmas</div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25.12" aria-valuemin="0" aria-valuemax="100" style="width: 25.12%">
                          <span class="sr-only">25.12%</span>
                        </div>
                      </div>
                    <div class="down-progress">25,12%</div>
                   <div class="time-left">14 días restantes</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-3 col-xs-6">
                <span>Propuesta</span>
                <a href="#proposal/apes" class="highlighted-item">
                  <img class="img-responsive img-all" src="/static/themes/current/img/carousel/ape_small.jpg" alt="Big ape" />
                  <div class="content-wrapper">
                    <h3>Derechos de los grandes simios</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>

                    <div class="item-stats">
                      <div class="up-progress"><strong>15,216</strong> firmas</div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40.15%">
                          <span class="sr-only">40.15%</span>
                        </div>
                      </div>
                    <div class="down-progress">40.15%</div>
                   <div class="time-left">7 días restantes</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-3 col-xs-6">
                <span>Pregunta</span>
                <a href="#letter/griñan" class="highlighted-item">
                  <img class="img-responsive img-all" src="/static/themes/current/img/carousel/stop_desahucios_small.jpg" alt="Big ape" />
                  <div class="content-wrapper">
                    <h3>Pregunta sobre desahucios</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>

                    <div class="item-stats">
                      <div class="up-progress"><strong>209</strong> apoyos</div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                          <span class="sr-only">100%</span>
                        </div>
                      </div>
                    <div class="down-progress">100%</div>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="highlight-background highlight-background-blue">
        <div class="container" id="footer">
          <div class="row">
            <div class="col-sm-4">
              <h3>Nosotros</h3>
              <ul>
                <li><a href="http://sentido-comun.com">Asociación Sentido Común</a></li>
                <li><a href="https://wadobo.com">Wadobo</a></li>
                <li><a href="http://circulojuridico.eu">Círculo Jurídico</a></li>
                <li>Apoyan <a href="http://goteo.es">Goteo</a> y <a href="http://unia.es">UNIA</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h3>Información</h3>
              <ul>
                <li><a href="#page/what">¿Qué es Escaño 110?</a></li>
                <li><a href="#page/faq">Preguntas Frecuentes</a></li>
                <li><a href="#page/privacy">Aviso legal</a></li>
                <li><a href="#page/cookies">Política de Cookies</a></li>
                <li><a href="#page/contact">Contacta</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h3>Social</h3>
              <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Tumblr</a></li>
                <li><a href="#">RSS</a></li>
                <li><a href="#">Youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script src="/static/js/libs/jquery.min.js"></script>
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
